# system/backups
*~
*.bak
.DS_Store
*.orig
*.rej

# jenkins x
.stignore
*~gen

# ide
bin
.classpath
.metadata
.project
.settings/
.checkstyle
.mylar
.idea
*.iml
*.ipr
*.iws
*.ids
.pydevproject
.factorypath

# build artifacts
target/
node_modules/
nashorn_code_cache/
chromedriver.log
package-lock.json
*.log
*.pyc
