# system/backups
*~
*.bak
.DS_Store
*.orig
*.rej

# jenkins x
.stignore
*~gen

# ide
bin
.classpath
.metadata
.project
.settings/
.checkstyle
.mylar
.idea
*.iml
*.ipr
*.iws
*.ids
.pydevproject
.factorypath
.java-version

# build artifacts
target*/
node/
coverage/
node_modules/
nashorn_code_cache/
chromedriver.log
*.log
*.pyc

# Helm charts
**/*.tgz
**/*.lock
